<div id="<%= slot_code %>" class="component poll <%= 'double' if expand %> <%= additional_classes %>">
<%= content_tag :iframe, '', src: noodall_poll_poll_path(component.poll_id), class: 'poll' %>
</div>

